body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background: #ffffff;
}

.resume {
    width: 700px;
    background: #ffffff;
    margin: 60px auto;
    padding: 50px;
}

header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

h1 {
    margin: 0;
    font-weight: 300;
    font-size: 36px;
    color: #222;
}

header p {
    margin-top: 15px;
    color: #666;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #444;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    padding-left: 20px;
    line-height: 1.8;
}
